body {
  background-color: lightyellow;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


/* for list of words and definitions bee gif*/ 

ul {
  list-style: none;
}
ul li::before {
  content: "";
  background-image: url(https://media4.giphy.com/media/Su12DRycqCCOjwHJkE/200w.gif?cid=82a1493bysa5xtbtexnuyjj1ecthq4ot0n38qtewiuvhcbgc&rid=200w.gif&ct=g);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
  margin: 5px;
}

/*main header*/
h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 6vw;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 5.5vw;
  font-weight: 450;
  line-height: 4vw;
  text-transform: uppercase;
}

p {
  color: #fff;
  text-align: center;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.45vw;
  font-weight: 50;
  line-height: 1vw;
  text-transform: uppercase;
}

p.a {
  color: #fff;
  text-align: left;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25vw;
  font-weight: 50;
  line-height: 1.5vw;
  text-transform: uppercase;
}

p.b {
  color: #000000;
  text-align: left;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25vw;
  font-weight: 50;
  line-height: 1.5vw;
  text-transform: uppercase;
}

p.c {
  color: #8A2BE2;
  text-align: left;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25vw;
  font-weight: 50;
  line-height: 1.5vw;
  text-transform: uppercase;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* //trying CSS for contestant form below idk */

.new-contestant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(251, 117, 102, 0.986);
}

.new-contestant-form form {
  display: flex;
  justify-content: center;
}

.new-contestant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-contestant-form button {
  width: 150px;
}


/* Create four equal columns that sit next to each other */
.column {
  flex:25%;
  max-width:25%;
  padding:4px;
  }
    
  .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  } 
  
  
/* this is from personal website ph1 */
body {
  background: pink;
}

.row {
  display:flex;
  flex-wrap:wrap;
  padding:0 40px;
}
  

/*<---testing CSS from w3 schools hover image and text--> */
.container {
  position: relative;
  width: 100%;
}

.image { 
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: pink;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* with writing-mode */
/* h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #852c98;
  margin: 0.15em 0.75em 0 0;
  font-family: 'Helvetica';
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  -webkit-font-feature-settings: "vkrn", "vpal";
  font-feature-settings: "vkrn", "vpal";
} */

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

.right {
  position: absolute;
  /* font-family: "Cooper Black"; */
  font-size: 40px;
  color: #008CBA;
  top: 300px;
  /* left: 0px; */
  right: 150px;
  width: 800px;
  padding: 20px;
  /* display: flex; */
  height: 800px;
  /* margin: auto; */
  align-items:right;
  justify-content:right;
  transform: rotate(90deg);
}
/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  background-color: magenta;
}

/* selected link */
a:active {
  color: yellow;
} 

a:link {
  text-decoration: none;  
}


  

