body {
  background-color: lightyellow;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* //trying CSS for contestant form below idk */

.new-contestant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(251, 117, 102, 0.986);
}

.new-contestant-form form {
  display: flex;
  justify-content: center;
}

.new-contestant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-contestant-form button {
  width: 150px;
}




  

